* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: black;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px;
    width: 1300px;
    height: 824px;
    padding: 10px;
    gap: 10px;
    background-color: rgb(255, 255, 255);
}

#container-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 480px;
    height: 480px;
}
.titulo {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.titulo p {
    font-size: 14px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 8px;
}
.formulario input {
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 12px;
    background-color: #D9D9D9;
}
.formulario ::placeholder {
    color: black ;
}
.formulario label {
    font-weight: bold;
    font-size: 14px;
    margin-top: 8px;
}

.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 16px;
    margin-bottom: 10px;
}
.link label {
    font-size: 14px;

}

.link a {
    text-decoration: none;
    color: rgb(0, 145, 230);
    font-size: 14px;
}

.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}
.botao button {
    width: 380px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.botao p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.botao a {
    text-decoration: none;
    color: rgb(0, 145, 230);
}
@media (max-width: 768px) {
    main {
        height: 100vh;
        justify-content: center;
    }
    #main-container {
        flex-direction: column-reverse;
        align-items: center;
        width: 90%;
        height: 70vh;
        margin: 20px;
        border-radius: 15px;
    }
    #container-form {
        width: 100%;
        height: auto;
    }
    .botao button {
        width: 100%;
    }
    #container-image img{
        height: 120px;
    }
}